#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border: 1px solid goldenrod;
  border-radius: 1rem;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.96);
}

.read-the-docs {
  color: #888;
}

/* Claude AI Starfield */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000;
}

/* Claude AI Starfield */
canvas {
  width: 100vw;
  max-height: 100vh;
  display: block;
}

#app {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app main {

  flex-grow: 1;

  color: gold;
  padding: 4em 2em 2em 2em;
}

#app header {
  height: 64px;
  background-color: rgba(249, 246, 31, 0.297);
  /* background-color: lime; */
  border-bottom: 1px solid goldenrod;
}

#app footer {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.98);
  border-top: 1px solid goldenrod;
  align-items: center;
}