@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cards {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  padding: 2em;
  border: 1px solid goldenrod;
  border-radius: 2rem;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.96);
  color: #ddd;
}

.read-the-docs {
  color: #888;
}

/* Claude AI Starfield */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000;
}

/* Claude AI Starfield */
canvas {
  width: 100vw;
  max-height: 100vh;
  display: block;
}

.starfield {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

#app {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#app main {
  flex-grow: 1;
  color: gold;
  padding: 4em 2em 2em 2em;
}

#app header {
  display: block;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.98);
  border-bottom: 1px solid red;
}

#app footer {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.98);
  border-top: 1px solid red;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#app footer .dimensionsDisplay {
  color: #111;
}

header .logo {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
  height: 200px;
  display: flex;
  align-items: center;
  color: #fff;
}

header .logo img {
  background-color: white;
  border-radius: 50%;
  height: 180px;
  padding: 4px;
}

.nextPreviousButtons  {
  display: flex;
  align-items: center;
  color: #fff;
}
.nextPreviousButtons button {
  font-size: larger;
  font-weight: 900;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled:hover {
  border-color: #1a1a1a;
}

input[type=submit],
input[type=text] {
  box-sizing: border-box;
  height: 50px;
  border-radius: 25px;
  padding: 0 25px;
}
input[type=text] {
  color: #888;
  min-width: 600px
}

.searchForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}
